@{Layout="_Layout";}

@using Bestaurant.Models;
@model Bestaurant.Models.Cuisine;
<h1>Cuisine Details</h1>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@foreach(Restaurant restaurant in Model.Restaurants)
{
  <p>@Html.ActionLink($"{restaurant.Name}", "Details", "Restaurant", new {id = restaurant.RestaurantId}, new { @class = "btn btn-dark btn-large" })</p>
}
<hr>
<p>@Html.ActionLink("Add new restaurant", "Create", "Restaurant", new {id = Model.CuisineId}, new { @class = "btn btn-dark btn-large" })</p> @* !! *@
<p>@Html.ActionLink("Edit this Cuisine", "Edit", new { id = Model.CuisineId }, new { @class = "btn btn-dark btn-large" } )</p>
<p>@Html.ActionLink("Delete this Cuisine", "Delete", new { id = Model.CuisineId }, new { @class = "btn btn-dark btn-large" } )</p>

