@{Layout = "_Layout";}

@model Bestaurant.Models.Restaurant

<h3>Edit the details for: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RestaurantId)
  @Html.HiddenFor(model => model.CuisineId)
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)
  @Html.LabelFor(model => model.Address)
  @Html.EditorFor(model => model.Address)
  <input type="submit" value="Save Changes"/>
}

<p>@Html.ActionLink("Back to cuisines", "Index", "Cuisine")</p>